week6/Advanced*

week6/src/code
week6/src/dist_preprocess_large
week6/src/dist_preprocess_small
week6/src/dist_with_coords
week6/src/travelling_salesman_problem
week6/src/tway*

week6/src/friend_suggestion/ch-steps1
week6/src/friend_suggestion/test1
week6/src/friend_suggestion/test_astar
week6/src/friend_suggestion/test_small
week6/src/friend_suggestion/test_ch
week6/src/friend_suggestion/pic
week6/src/friend_suggestion/minimize
week6/src/friend_suggestion/gallery
week6/src/friend_suggestion/screenshots

week6/src/friend_suggestion/tags
week6/src/friend_suggestion/swoopBuf
week6/src/friend_suggestion/unittest
week6/src/friend_suggestion/.ctags
week6/src/friend_suggestion/Session.vim
week6/src/friend_suggestion/firend_suggesion.cbp
week6/src/friend_suggestion/firend_suggesion.depend
week6/src/friend_suggestion/firend_suggesion.layout
week6/src/friend_suggestion/one.case3.out
week6/src/friend_suggestion/other/draw-pillow.py
week6/src/friend_suggestion/small.case3.out
week6/src/friend_suggestion/small.log
week6/src/friend_suggestion/large.prof

week6/src/friend_suggestion/friend_suggestion
week6/src/friend_suggestion/friend_suggestion_one_dir
week6/src/friend_suggestion/minimize.in
